alembic==1.12.1
bcrypt==4.0.1
blinker
click
colorama
dnspython
email-validator
Flask
Flask-Bcrypt
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
importlib-metadata
itsdangerous
Jinja2
Mako
MarkupSafe
packaging
python-dotenv
SQLAlchemy
typing_extensions
Werkzeug
WTForms
zipp
psycopg2
